/* Blues */
$blue-100:		rgba(56,206,213,1);
$blue-60: 		rgba(56,206,213,0.6);
$blue-40:  		rgba(56,206,213,0.4);
$blue-20:  		rgba(56,206,213,0.2);
$blue-10:  		rgba(56,206,213,0.1);

$blue-dark-100: rgba(0,73,87,1);
$blue-dark-60:  rgba(0,73,87,0.6);
$blue-dark-40:  rgba(0,73,87,0.4);
$blue-dark-20:  rgba(0,73,87,0.2);
$blue-dark-10:  rgba(0,73,87,0.1);

$blue-royal-100:rgba(0,97,146,1);
$blue-royal-60: rgba(0,97,146,0.6);
$blue-royal-40: rgba(0,97,146,0.4);
$blue-royal-20: rgba(0,97,146,0.2);
$blue-royal-10: rgba(0,97,146,0.1);

/* Greys */
$grey-100: 		rgba(80,80,80,1);
$grey-60:  		rgba(80,80,80,0.6);
$grey-40:  		rgba(80,80,80,0.4);
$grey-20:  		rgba(80,80,80,0.2);
$grey-10:  		rgba(80,80,80,0.1);

/* Oranges */
$orange-100: 	rgba(247,167,35,1);
$orange-80:  	rgba(247,167,35,0.8);
$orange-60:  	rgba(247,167,35,0.6);
$orange-40:  	rgba(247,167,35,0.4);

/* Greens */
$green-100: 	rgba(0,150,94,1);
$green-60:  	rgba(0,150,94,0.6);
$green-40:  	rgba(0,150,94,0.4);
$green-20:  	rgba(0,150,94,0.2);
$green-10:  	rgba(0,150,94,0.1);

/* Black */
$black-100: 	rgba(0,0,0,1);
$black-10:  	rgba(0,0,0,0.1);

/* Reds */

$red-100: 		rgba(236,102,37,1);
$red-80:  		rgba(236,102,37,0.8);


/* White */

$white: #ffffff;

$parent_bg: rgba(34,89,170, 1);

$text-underline: rgba(0,73,87,1);


/* LEGACY PROFILE COLORS */

$green-color-mid: #A3D2B2;

$profile-color:#0e4858;


